// Body
$body-bg: #f7fafd;

// Typography
$font-family-sans-serif: 'Nunito', sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

$primary: #105ed3;
$btn-border-radius: 0;
$card-border-width: 0;
$card-border-radius: 0;
$warning:#f28406;
$link-color: #000;
$input-border-radius: 0;